.main_carousel_div {
    width: 80%;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
    padding-bottom: 6rem;
    align-items: center;
}

.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.carousel-wrapper {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
}

.carousel-content-wrapper {
    overflow: hidden;
    width: 100%;
    height: 160px;
}

.carousel-content {
    display: flex;
    transition: all 1000ms linear;
    -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-content > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

.carousel-content.show-2 > * {
    width: 50%;
}

.carousel-content.show-3 > * {
    width: calc(100% / 3);
}

.carousel-content.show-4 > * {
    width: calc(100% / 4);
}
















.school_logo_div {
    margin-right: 4rem;
    margin-left: 4rem;
}


.school_logo_div img {
    width: 100%;
}
.school_logo_div:hover {
    opacity: .5;
    transition: .4s;
}


.schools_arrow {
    font-size: 8rem;
    color: rgb(134, 134, 134);
    cursor: pointer;
}









@media (min-width: 425px) {
    .school_logo_div {
        width: 100%;
    }
}